<%layout("/layouts/boilerplate")%>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body class="background">

    <div class="login-container">
        <h1>Login</h1>
        <form action="http://localhost:8080/users/login" method="post">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" style="height: 35px;" name="username" placeholder="Enter usernaem" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" style="height: 35px;" placeholder="Enter password" required>
            </div>
            <button type="submit" class="login-button" style="width:50%;">Login</button>
        </form>
    </div>

</body>
</html>
